{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="...">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
    <div class="mb-4">
      <label class="block...">{{ field.label }}</label>
      <!-- Cambia esta línea -->
      {{ field|add_class:"your-classes" }}
      {% if field.errors %}
        <p class="text-red-500...">{{ field.errors }}</p>
      {% endif %}
    </div>
    {% endfor %}

    <button type="submit" class="...">Publicar</button>
  </form>
</div>
{% endblock %}